<!--==========================
      Features Section
    ============================-->
    <section id="features">
      <div class="container">
        {% for feature in features %}

        {% if loop.index % 2 %}
        <div class="row feature-item">
          <div class="col-lg-6 wow fadeInUp">
            <img src="{{feature.image|split('public/')[1]}}" class="img-fluid" alt="{{feature.title}}">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>{{feature.title}}</h4>
            <p>
              {{feature.description|raw }}
            </p>
          </div>
        </div>
        {% else %}
            <div class="row feature-item mt-5 pt-5">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="{{feature.image|split('public/')[1]}}" class="img-fluid" alt="{{feature.title}}">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>{{feature.title}}</h4>
            <p>
             {{feature.description|raw}}
            </p>
            
          </div>
          
        </div>
        {% endif %}
        {% endfor %}
        

      </div>
    </section><!-- #about -->